.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: var(--dark-plum);

  #search-input {
    width: 600px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin: 0.5em;
  }
}
