Button {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--blush-white);
  background: var(--light-rose);
  border: 2px solid var(--blush-pink);
  margin-bottom: 24px;
  cursor: pointer;

  &:hover {
    background-color: var(--blush-pink);
    border-color: var(--blush-white);
  }
}

#spacer {
  height: 88px;
  @media (max-width: 1024px) {
    height: 48px;
  }
}

/* Pokemon List should be converted to a grid layout */
#pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 25px;
  padding: 25px;
  background: var(--wine-shadow);
  border-radius: 8px;
}

@media (min-width: 1600px) {
  #pokemon-list {
    grid-template-columns: repeat(6, 1fr);
  }
}