:root {
  --near-black: #0C0708;
  --wine-black: #180F13;
  --dark-plum: #221419;
  --blush-white: #F5EEF0;
  --dusty-rose: #A88D94;
  --muted-plum: #322128;
  --light-rose: #EE7C97;
  --blush-pink: #F5A6BA;
  --wine-shadow: #341922;
}